{% extends 'base.html.twig' %}

{% block title %}قوانین جامعه | دورهمی{% endblock %}
{% block meta_description %}قوانین دورهمی - جامعه توسعه‌دهندگان نرم‌افزار ایرانی. لطفا همه قوانین را مطالعه کنید تا یک محیط امن و دوستانه برای همه اعضا فراهم شود.{% endblock %}
{% block meta_keywords %}قوانین, دورهمی, جامعه, برنامه‌نویسان, کد رفتاری{% endblock %}

{% block body %}
    <section>
        <div class="max-w-6xl mx-auto px-4 sm:px-6">
            <div class="pt-28 md:pt-36">
                <div class="md:flex md:justify-between md:divide-x md:divide-slate-800">
                    <div class="md:grow pt-6 pb-12 md:pb-20">
                        <div class="md:pr-6 lg:pr-20">
                            <div class="flex flex-col lg:flex-row space-y-6 lg:space-y-0 lg:space-x-6">
                                <header class="mb-6">
                                    <h1 class="h2 font-badkhat text-slate-200 mb-4">قوانین جامعه دورهمی</h1>
                                    <p class="mb-6 text-sm">
                                        تو دورهمی، ما دنبال ایجاد یه فضای دوستانه، محترمانه و سازنده برای همه اعضا هستیم. برای داشتن همچین جامعه پویا و مفیدی، لازم هست که همه‌ی اعضا قوانین این جامعه رو مطالعه و رعایت کنن.
                                    </p>
                                </header>
                                <div class="text-slate-400 space-y-6">
                                    <h2 class="text-xl font-bold text-slate-200">احترام و رفتار محترمانه</h2>
                                    <p>احترام و داشتن رفتاری دوستانه، مودبانه و محترمانی، به داشتن فضایی امن برای همه کمک میکنه. این مهمترین اصل تو دورهمیه. یکم بیشتر در مورد این نوع ارتباط بخونیم.</p>
                                    <h3 class="text-lg text-slate-200">رفتارهای مثبت و پذیرفته شده تو جامعه‌ی دورهمی</h3>
                                    <p>صبور باشید و به نظرات دیگران احترام بذارید، حتی اگر با اونا موافق نیستید</p>
                                    <p>تو بحث‌ها و مشکلات فنی، با دقت و احترام نظر بدید</p>
                                    <p>به تازه‌واردها کمک کنید و فضا رو برای یادگیری همگانی فراهم کنید</p>
                                    <p>به تازه‌واردها کمک کنید و فضا رو برای یادگیری همگانی فراهم کنید</p>
                                    <p>انتقادات رو سازنده و با هدف بهبودی مطرح کنید</p>
                                    <p>به تنوع افکار و دیدگاه‌ها احترام بگذارید</p>
                                    <hr class="h-px my-8 bg-slate-200 border-0 dark:bg-slate-700">
                                    <h3 class="text-lg text-slate-200">دورهمی جایی برای تبعیض نیست</h3>
                                    <p>هر نوع شوخی به هر شکلی که شخص یا گروهی (ایرانی یا غیر ایرانی) رو مورد خطاب قرار بده و به هر شکلی توهین یا ارزش اون شخص یا گروه رو پایین بیاره، بی هیچ وجه پذیرفته نمیشه و بدون چون و چرا منجر به بن شده گوینده میشه. هرگونه توهین، تمسخر یا رفتار تبعیض‌آمیز بر اساس جنسیت، گرایش جنسی، مذهب، قومیت، ملیت، وضعیت اقتصادی، ظاهر فیزیکی یا ناتوانی‌های جسمی و ذهنی به هیچ عنوان پذیرفته نمیشه و منجر به برخورد  با فرد میشه.</p>
                                    <p>هرگونه آزار و اذیت، تشویق به آزار دیگران یا مشارکت در آن به هیچ وجه قابل قبول نیست. همینطور تهدید به آسیب رساندن به افراد یا گروه‌های مختلف تحت هیچ شرایطی پذیرفته نمیشه.</p>

                                    <div class="rotate-2">
                                        <div class="relative p-5 bg-linear-to-tr from-slate-800/20 via-slate-800/50 to-slate-800/20">
                                            <div class="absolute inset-0 -m-px pointer-events-none -z-10 before:absolute before:inset-0 before:bg-linear-to-t before:from-slate-700 before:to-slate-800 after:absolute after:inset-0 after:bg-slate-900 after:m-px"
                                                 aria-hidden="true"></div>
                                            <p class="font-badkhat text-2xl text-center bg-clip-text text-transparent bg-linear-to-tr from-indigo-500 via-sky-300 to-slate-200 mb-3">با توجه به این موارد، اگر فردی مطابق با این دسته از قوانین رفتار نکنه و محیط رو برای دیگر اعضا تاکسیک و سمی کنه، بدون چون و چرا و برای همیشه از مجموعه بن و حذف میشه.</p>
                                        </div>
                                    </div>

                                    <hr class="h-px my-8 bg-slate-200 border-0 dark:bg-slate-700">
                                    <h2 class="text-xl font-bold text-slate-200">تبلیغات و اشتراک‌گذاری مطالب و محتوا</h2>
                                    <p>فرهنگ دورهمی، فرهنگ آموزش و یادگیریه. ما اینجا علاقه‌ی زیادی به مطالعه و اشتراک‌گذاری موضوعات مفید داریم. این موضوعات نیازی نیست که حتما بروز یا حتما تو یه شاخه‌ی مشخص. اما شریط اساسی اونها مرتبط بود با مهندسی نرم‌افزاره.</p>
                                    
                                    <h3 class="text-lg text-slate-200">اشتراک‌گذاری مقاله‌ها و منابع مفید</h3>
                                    <p>اشتراک‌گذاری منابع آموزشی، مقالات فنی و تجربیات مفید تشویق میشه</p>
                                    <p>معرفی پروژه‌های متن‌باز و همکاری‌های گروهی آزاد هست</p>
                                    <p>پرسش‌های فنی حتما باید به صورت کامل و با ارائه‌ی جزئیات مطرح بشن. طوری که خواننده با کمترین صرف زمان بتونه بهترین پاسخ رو بده.</p>
                                    <p>تبلیغات در حال حاضر به هر شکلی ممنوعه و فقط با مجوز ادمین‌ها امکان پذیره.</p>
                                    
                                    <h3 class="text-lg text-slate-200">اصول استفاده از کانال‌ها</h3>
                                    <p>مطالب و مقالات رو در کانال مرتبط ارسال کنید</p>
                                    <p>از ارسال پیام‌های تکراری در چند کانال خودداری کنید</p>
                                    <p>به موضوع هر کانال احترام بگذارید و محتوای نامرتبط ارسال نکنید</p>
                                    <p>از ارسال پیام‌های بی‌محتوا و تکراری خودداری کنید</p>
                                    <p>از ارسال سوالات در چندین بخش به طور همزمان خودداری کنید</p>

                                    <h3 class="text-lg font-bold text-slate-200">محتوای ممنوعه</h3>
                                    <p>انتشار محتوای غیراخلاقی، نامناسب یا خلاف قوانین</p>
                                    <p>به اشتراک گذاشتن اطلاعات شخصی دیگران بدون اجازه آنها</p>
                                    <p>ارسال محتوای سیاسی یا مذهبی که باعث تفرقه میشه</p>
                                    <p>هرگونه رفتار تبعیض‌آمیز بر اساس نژاد، قومیت، جنسیت، گرایش جنسی و غیره</p>

                                    <div class="-rotate-2">
                                        <div class="relative p-5 bg-linear-to-tr from-slate-800/20 via-slate-800/50 to-slate-800/20">
                                            <div class="absolute inset-0 -m-px pointer-events-none -z-10 before:absolute before:inset-0 before:bg-linear-to-t before:from-slate-700 before:to-slate-800 after:absolute after:inset-0 after:bg-slate-900 after:m-px"
                                                 aria-hidden="true"></div>
                                            <p class="font-badkhat text-2xl text-center bg-clip-text text-transparent bg-linear-to-tr from-indigo-500 via-sky-300 to-slate-200 mb-3">در صورت نقض قوانین، بسته به شدت و تکرار، اقدامات زیر ممکنه اعمال بشه</p>
                                            <div class="text-center">
                                                <p>تذکر خصوصی یا عمومی</p>
                                                <p>حذف محتوای نامناسب</p>
                                                <p>محدودیت موقت دسترسی</p>
                                                <p>محرومیت دائم از جامعه</p>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="h-px my-8 bg-slate-200 border-0 dark:bg-slate-700">

                                    <p>
                                        هدف ما تو دورهمی ایجاد فضایی امن، دوستانه و مفید برای تمام برنامه‌نویسان و علاقه‌مندان به دنیای فناوریه.
                                        تلاش می‌کنیم محیطی فراهم کنیم که همه بتونن با احترام متقابل، دانش خودشون رو به اشتراک بذارن و از همدیگه یاد بگیرن.
                                        رعایت این قوانین به ما کمک می‌کنه تا جامعه‌ای پویا و سازنده داشته باشیم.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}