{% if value %}
    <img src="{{ value }}" style="max-width: 50px; max-height: 50px; border-radius: 50%;" alt="User avatar">
{% else %}
    <span class="badge badge-secondary">No avatar</span>
{% endif %}