@import "../fonts/estedad/stylesheet.css";

@import 'tailwindcss';

@theme {
    --color-primary-50: #ecfccb;
    --color-primary-100: #d9fa98;
    --color-primary-200: #c0f761;
    --color-primary-300: #a6f43a;
    --color-primary-400: #89f336;
    --color-primary-500: #6ec529;
    --color-primary-600: #54991f;
    --color-primary-700: #3c7015;
    --color-primary-800: #26490c;
    --color-primary-900: #132405;
    --color-primary-950: #091202;

    --font-sans: 'Estedad';
    --font-script: 'Estedad';
}